.mainContainer{
    max-width: 930px;
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    gap: 32px;
}
.BillInputs{
  flex: 1;
}
.BillOutput{
  flex: 1;
}

@media screen and (max-width: 768px){
    .mainContainer{
        flex-direction: column;
    }
  
}