.mainComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
}
.logo{
  margin: 0  auto 64px auto;
}